<a href="https://colab.research.google.com/github/JoaoCuri/Remember/blob/main/Boruta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
pip install boruta

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: boruta in /usr/local/lib/python3.7/dist-packages (0.3)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from boruta) (1.7.3)
Requirement already satisfied: scikit-learn>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from boruta) (1.0.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from boruta) (1.21.6)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.17.1->boruta) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.17.1->boruta) (3.1.0)

In [34]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from boruta import BorutaPy

df=pd.read_csv('bank.csv',sep=';')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [21]:
#cols = ['job','marital','education','default','housing','loan','contact','month',
#        'poutcome','y']
#        
#for col in cols:
#    df[col] = df[col].astype('category')

In [35]:
cols = ['job','marital','education','default','housing','loan','contact','month',
        'poutcome','y']
        
for col in cols:
    df[col] = pd.factorize(df[col])[0]

In [22]:
df['job'] = pd.factorize(df['job'])[0]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   int64
 2   marital    4521 non-null   int64
 3   education  4521 non-null   int64
 4   default    4521 non-null   int64
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   int64
 7   loan       4521 non-null   int64
 8   contact    4521 non-null   int64
 9   day        4521 non-null   int64
 10  month      4521 non-null   int64
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   int64
 16  y          4521 non-null   int64
dtypes: int64(17)
memory usage: 600.6 KB

In [37]:
x = df.drop("y",axis=1)    # Covariáveis
y = df.y # Target

In [38]:
y = y.ravel()
rf = RandomForestClassifier(max_depth = 5, bootstrap = True)

In [39]:
feat_selector = BorutaPy(rf, n_estimators = "auto", random_state = 999)

In [40]:
result_boruta = feat_selector.fit(x.values, y)

In [41]:
# Verificar as features selecionadas
accept = x.columns[feat_selector.support_].to_list()
irresolution = x.columns[feat_selector.support_weak_].to_list()

print("Selecionadas:")
print("************************")
print(list(accept))
print(list(irresolution))
print("************************")

Selecionadas:
************************
['age', 'balance', 'month', 'duration', 'pdays', 'previous', 'poutcome']
[]
************************

In [42]:
# .support_
result_boruta.support_

array([ True, False, False, False, False,  True, False, False, False,
       False,  True,  True, False,  True,  True,  True])

In [43]:
# .ranking_ 
result_boruta.ranking_

array([ 1,  4,  6,  8, 10,  1,  5,  9,  3,  2,  1,  1,  7,  1,  1,  1])

In [44]:
len(x.columns)

16

In [45]:
feature_ranks = list(zip(x.columns, 
                         result_boruta.ranking_, 
                         result_boruta.support_))

for feat in feature_ranks:
    #if  feat[1] <= 6:
      print('Feature: {} Rank: {},  Manter: {}'.format(feat[0], 
                                                       feat[1], 
                                                       feat[2]))

Feature: age Rank: 1,  Manter: True
Feature: job Rank: 4,  Manter: False
Feature: marital Rank: 6,  Manter: False
Feature: education Rank: 8,  Manter: False
Feature: default Rank: 10,  Manter: False
Feature: balance Rank: 1,  Manter: True
Feature: housing Rank: 5,  Manter: False
Feature: loan Rank: 9,  Manter: False
Feature: contact Rank: 3,  Manter: False
Feature: day Rank: 2,  Manter: False
Feature: month Rank: 1,  Manter: True
Feature: duration Rank: 1,  Manter: True
Feature: campaign Rank: 7,  Manter: False
Feature: pdays Rank: 1,  Manter: True
Feature: previous Rank: 1,  Manter: True
Feature: poutcome Rank: 1,  Manter: True

In [46]:
feature_ranks = list(zip(x.columns, 
                         result_boruta.ranking_, 
                         result_boruta.support_))

for feat in feature_ranks:
    if  feat[1] <= 6:
      print('Feature: {} Rank: {},  Manter: {}'.format(feat[0], 
                                                       feat[1], 
                                                       feat[2]))

Feature: age Rank: 1,  Manter: True
Feature: job Rank: 4,  Manter: False
Feature: marital Rank: 6,  Manter: False
Feature: balance Rank: 1,  Manter: True
Feature: housing Rank: 5,  Manter: False
Feature: contact Rank: 3,  Manter: False
Feature: day Rank: 2,  Manter: False
Feature: month Rank: 1,  Manter: True
Feature: duration Rank: 1,  Manter: True
Feature: pdays Rank: 1,  Manter: True
Feature: previous Rank: 1,  Manter: True
Feature: poutcome Rank: 1,  Manter: True